<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{1.} - %msg%n"/>
        </Console>
        <File name="DvaLog" fileName="${sys:java.io.tmpdir}DVA/dva.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </File>
        <File name="FfmpegLog" fileName="${sys:java.io.tmpdir}DVA/ffmpeg.log">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger - %msg%n"/>
        </File>
    </Appenders>
    <Loggers>
        <Root level="trace">
            <AppenderRef ref="Console" level="info"/>
            <AppenderRef ref="DvaLog" level="debug"/>
        </Root>
        <Logger name="jb.common.sound.MediaConcatenatorFfmpeg" level="debug" additivity="false">
            <AppenderRef ref="Console" level="debug"/>
            <AppenderRef ref="FfmpegLog" level="debug"/>
        </Logger>
    </Loggers>
</Configuration>
