Package: dva
Name: DVA
Version: 5.5.1
Section: utilities
Priority: optional
Architecture: amd64
Installed-Size: 166380
Maintainer: Jonathan Boles <jaboles@fastmail.fm>
Description: Sydney Trains DVA and Plasma Screen Emulator
Homepage: https://github.com/jaboles/DVA5
