Package: dva
Name: DVA
Version: <generated>
Section: utilities
Priority: optional
Architecture: <generated>
Installed-Size: <generated>
Maintainer: Jonathan Boles <jaboles@fastmail.fm>
Description: Sydney Trains DVA and Plasma Screen Emulator
Homepage: https://github.com/jaboles/DVA5
