[Desktop Entry]
Encoding=UTF-8
Name=DVA
Exec=/usr/bin/dva
Icon=/usr/share/dva/dva_icon.png
Terminal=false
Type=Application
Categories=Application
StartupNotify=true
